<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.tailwindcss.com" />
    <title>Minero {{ minero.id_minero }}</title>
  </head>
  <body>
    {{ minero.marca }} {{ minero.modelo }}
    <p class="text-3xl">Produccion mensual de Bitcoins</p>
    <div class="w-1/3 h-1/3">
      <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      // grafico 1
      const ctx = document.getElementById("myChart");

      const data = JSON.parse("{{ data_minero_json }}".replace(/&#34;/g, '"'));
      console.log(data);

      new Chart(ctx, {
        type: "line",
        data: {
          labels: data.meses,
          datasets: [
            {
              label: "Prod of BTC",
              data: data.produccion,
              borderWidth: 5,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    </script>
  </body>
</html>
